<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quam id
    provident nam ducimus animi enim dolore nostrum quae, accusantium vel cum!
    Molestias voluptatum quae nobis quisquam nulla vero rem.
  </p>
</main>
